body {
  display: grid;
  height: 100vh;
  place-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  background-image: url("background_gradient.jpg");
  background-size: cover;
}